@media only screen and (max-width: 900px) {
  .header {
    width: 100vw;
    height: 9em;
    background-color: #9BC4CB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3.5px solid #0B3954;
    background: rgb(155,196,203);
    background: linear-gradient(90deg, rgba(155,196,203,1) 0%, rgba(132,220,198,1) 90%);
  }

  .logotype {
    height: 70%;
  }
}

@media only screen and (min-width: 901px) {
  .header {
    width: 100vw;
    height: 14em;
    background-color: #9BC4CB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 6px solid #0B3954;
    background: rgb(132,220,198);
    background: linear-gradient(90deg, rgba(132,220,198,1) 0%, rgba(51,101,138,1) 50%, rgba(11,57,84,1) 90%);
  }

  .logotype {
    height: 55%;
    margin-left: 3em;
  }
}
