.error-message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .fish-cards-container  {
    flex-direction: column;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10%;
  }

  .error-message {
    margin-top: 10%;
    font-weight: 200;
    font-size: 1.7rem;
    width: 85%;
    line-height: 2.5rem;
    color: #9BC4CB;
  }

  .error-message-container hr {
    margin: 5%;
  }

  .error-message-container ol {
    width: 59%;
    line-height: 1.45rem;
  }

  .error-message-container ol {
    margin-top: 2%;
    color: #33658A;
    text-align: left;
    line-height: 1.7rem;
  }
}

@media only screen and (min-width: 901px) {
  .fish-cards-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10%;
  }

  .error-message {
    margin-top: 5%;
   font-weight: 200;
   font-size: 2rem;
   width: 60%;
   line-height: 3rem;
   color: #9BC4CB;
  }

  .error-message-container hr {
    margin: 2%;
    width: 80%;
  }

  .error-message-container ol {
    line-height: 1.45rem;
  }

  .error-message-container ol {
    color: #33658A;
    text-align: left;
    line-height: 1.7rem;
  }
}
